# ignore .env file
.env

# ignore node_modules and yarn.lock
node_modules/
yarn.lock

# ignore IDE files
.idea/
.vscode/

# ignore compiled files
build/
dist/

# ignore Docker files
docker-compose.yml
docker-compose.yaml
docker/
.DS_Store
Thumbs.db

# ignore macOS files
.DS_Store
ehthumbs.db
Thumbs.db

# ignore Windows files
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
ehthumbs.db

# ignore Visual Studio Code files
.vscode/